var config = {
  google: {
    client_id:       "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    client_secret:   "YYYYYYYYYYYYY",
    client_callback: "http://127.0.0.1:3000/auth/google/return"
  }
}

module.exports = config;
